<?xml version="1.0" encoding="utf-8"?>
<!-- This file is used to modify Web.config settings for the Development environment -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="Environment" value="Development" 
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ShowDetailedErrors" value="true" 
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <compilation debug="true" xdt:Transform="SetAttributes" />
    <customErrors mode="Off" xdt:Transform="Replace" />
  </system.web>
</configuration>
