<?xml version="1.0" encoding="utf-8"?>
<!-- This file is used to modify Web.config settings for the Staging environment -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="Environment" value="Staging" 
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ShowDetailedErrors" value="true" 
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <customErrors mode="RemoteOnly" xdt:Transform="Replace" />
  </system.web>
  
  <system.webServer>
    <httpErrors errorMode="Detailed" xdt:Transform="Insert" />
  </system.webServer>
</configuration>
